# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
*.sqlite3
/staticfiles/
/media/

# Virtual environment
venv/
env/
.env

# Distribution / packaging
*.zip
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
